﻿@model BuyOrSellSocks.Models.User


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/login.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/pe-icon-7-stroke.css" />

</head>
<body>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="main-wrap-login">
            <div class="holder-login">
                <div class="box-left">
                    <h1> </h1>
                </div>

                <div class="box-holder">
                    <div class="hold">
                        <div class="user-name">
                            <h1>@Html.LabelFor(c => c.UserName)</h1>
                            <div>@Html.TextBoxFor(c => c.UserName, new { @id = "username" })</div>
                            <p> @Html.ValidationMessageFor(c => c.UserName)</p>
                        </div>
                        <div class="user-password">
                            <h1>@Html.LabelFor(c => c.PassWord)</h1>
                            <div>@Html.PasswordFor(c => c.PassWord, new { @id = "password" })</div>
                            <p> @Html.ValidationMessageFor(c => c.PassWord)</p>
                        </div>
                        <div id="button-holder">
                            <input type="submit" id="login" class="button" value="Log in" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>



