﻿@model List<BuyOrSellSocks.Models.User>
@{
    ViewBag.Title = "AdminPage";
}

<div>
    <table>
        <tr>
            <td>User name</td>
            <td>Money Balance</td>
            <td>Sock Balance</td>
            <td>Delete user</td>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.MoneyBalance</td>
                <td>@user.SockBalance</td>
                <td><button onclick="deleteUser(@user.Id)">Delete user</button></td>
            </tr>
        }
    </table>
</div>
<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script type="text/javascript">
    function deleteUser(id) {
        debugger;
        $.ajax({
            url: "@Url.Action("DeleteUser", "api/Admin")",
            type: "POST",
            data: { id: id } ,
            success: function (result) {

            }
        });
    }

</script>